doctype html
html(lang="zh-CN")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title 宁波工程学院在线评测幻想乡
        link(rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.css")
        link(rel="stylesheet" type="text/css" href="/css/homepage.css")
    body
        div.ui.inverted.top.fixed.menu
            div.ui.container
                div.header.item 宁波工程学院在线评测幻想乡
                a.active.item
                    span.zh 首页
                    br
                    span.en Home
                a.item 
                    span.zh 题库
                    br
                    span.en Prob
                a.item 
                    span.zh 状态
                    br
                    span.en Stat
                a.item 
                    span.zh 比赛
                    br
                    span.en Ctst
                a.item 
                    span.zh 用户
                    br
                    span.en User

                div.right.menu
                    div.item
                        img.ui.avatar.image(src="http://img.wdjimg.com/mms/icon/v1/f/cb/4206662397129f26dc9e474ba5db5cbf_256_256.png")
        div#particles 

        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/jquery-backstretch/src/jquery.backstretch.js")
        script.
            $.backstretch("/images/homepage_bg.jpg");

        script(src="/bower_components/particles.js/particles.js")
        script.
            particlesJS.load("particles", "/particles");
