doctype html
html(lang="zh-CN")
    head
        meta(charset="utf8")
        title 宁波工程学院在线评测幻想乡
        link(rel="stylesheet" href="/bower_components/semantic/dist/semantic.css")
    body
        | Hello world!
